/* Extra swiper CSS */

.swiper-button-prev {
  display: none;
}
.swiper-button-next {
  display: block;
  width: 200px;
  color: black;
  margin: 22% 2% 0 0;
  position: absolute;
  background-image: url("../../../images/project-arrow.svg") !important;
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .swiper-button-next {
    margin-top: 12rem;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
