@import url("https://use.typekit.net/vet7fll.css");

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Optima", serif;
  background-color: #23193b;
}
